@import "public.css";
body{
    background: #fff;
    width:7.5rem;
    height:auto;
    margin:0 auto;
}
.header{
    width:100%;
    height:1.17rem;
    background: #00A2ED;
    margin:0 auto;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99999;
    font-size: 0.36rem;
    color: #fff;
}
.header .headleft{
    width:0.41rem;
    height:0.31rem;
    margin-left:00.37rem;
    margin-top:0.43rem;
    float: left;
}
.header .headleft a{
    display: block;
    width:2.8rem;
    height:0.31rem;
    color: #fff;
    line-height: 0.31rem;
}
.header .headleft img{
    display: block;
    width:0.41rem;
    height:0.31rem;
    float: left;
    margin-right:0.6rem;
}
.header .show{
    line-height: 1.17rem;
    margin-left:0.74rem;
    font-size: 0.36rem;
    float: left;
}
.header .show a{
    color: #fff;
}
.header .headright{
    width:auto;
    height:0.51rem;
    margin-top:0.35rem;
    margin-right:0.2rem;
    float: right;
    overflow: hidden;
    line-height: 0.51rem;
}
.header .headright img{
    width:0.59rem;
    height:0.51rem;
    display: block;
    float: left;
    margin-right:0.1rem;
}
.header .headright1{
    width:auto;
    height:0.51rem;
    margin-top:0.3rem;
    margin-right:0.4rem;
    float: right;
    overflow: hidden;
    line-height: 0.51rem;
}
.header .headright1 img{
    width:0.59rem;
    height:0.51rem;
    display: block;
    float: left;
    margin-right:0.1rem;
}


/**/
.content{
    width:100%;
    height:0.98rem;
    margin-top:1.17rem;
}
.content h3{
    padding:0 0.3rem;
    font-size: 0.32rem;
    line-height: 0.98rem;
    color: #333;
}
.content .con{
    width:100%;
    height:auto;
    padding:0.3rem;
    border-top: 1px solid #999;
}
.content .con:after{
    content: '';
    display: block;
    clear: both;
}
.content .con .left{
    width:0.81rem;
    height:0.81rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 0.1rem;
}
.content .con .left img{
    display: block;
    width:0.81rem;
    height:0.81rem;
}
.content .con .right{
    width:5.9rem;
    height:auto;
    border-radius: 50%;
    float: left;
}
.content .con .right .title{
    width:5.9rem;
    height:0.5rem;
    color: #000;
    font-size: 0.36rem;
    font-weight: bold;
}
.content .con .right .ticon{
    width:5.9rem;
    height:auto;
    color: #333;
    font-size: 0.30rem;
    line-height: 0.5rem;
}
.content .con .right .times{
    font-size:0.28rem;
    line-height: 0.6rem;
    margin-top:0.2rem;
    color: #999;
}